.branco{
	color: #4e4e4e;
}
#titulo-principal{
	font-size: 1.5em;
}
#Perfil-Pessoal{
	background: #007BFF;
	color: white;
}
.conteudos{
	padding: 50px 0px;
	border-bottom: 1px solid #35363a;
}
h2{
	margin-bottom: 20px;

}

#img_dpessoais{
	border-radius:5px;
	border-color: black;
	box-shadow: 3px 3px 8px black;
}

#edita_img_perfil_dadosp{
  width: 200px;
  border-radius: 90px;

}
#img_perfilpessoal{
	width: 500px;
}


/*Histórico profissional*/
#alinhar_imgprofissional{
	width: 550px;
}



/*Página contato*/
#formulario_edit{
	margin: 80px;
	color: black;
}
/*Página calculadora*/
#calculad{
	margin: 80px;
	color: black;
	text-align: center;
	
}

#sessao-caluladora{
background:white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
font-style:oblique;
box-shadow: 3px 3px 10px black;
margin-top: 250px;
}


#edit_textocalculadora{
	font-family: "Times New Roman", 'Times New Roman', Times, serif;
	text-align: center;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #35363a;
  color: white;
  height: 30px;
  text-align: center;
}
/*Calculadora*/
#posicao_inputs{
	text-align: center;
}
	
#sessao_contato{
	width: 1000px;
	margin: auto;
}

#CalcModerna{
	margin-top: 20px;
	text-align: center;
}
#CalcAvancada{
	padding: 15px;
	background-color: cornflowerblue;
	width: 250px;
	border-radius: 15px;
	margin-left: 10px;
	text-align: center;
}
.editarbotao{
	cursor:pointer;
	width: 50px;
	height: 50px;
	font-size: 25px;
	color: black;
	border: none;
	margin: 2px;
}
.editarbotao:hover{
	background-color: grey;
}
#resultado{
	background-color: white;
	height: 40px;
	text-align: right;
	font-size: 25px;

}